@import 'variables';

@mixin flex($direction: row, $wrap: nowrap, $justify: space-between, $align: stretch, $gap: 5px, $breakpoints: $breakpoints) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    @each $breakpoint, $value in $breakpoints {
        @media (min-width: $breakpoint) {
            flex-direction: $value;
        }
    }
}
@mixin grid($columns: 12, $gutter: 1rem, $breakpoints: $breakpoints) {
    $grid-gap: $gutter;

    display: grid;
    grid-template-columns: repeat($columns, minmax(0, 1fr));
    grid-gap: $grid-gap;
    
    @each $breakpoint, $value in $breakpoints {
        $grid-gap: $grid-gap + 5px;
        @media (min-width: $breakpoint) {
            grid-template-columns: repeat($value, minmax(0, 1fr));
            grid-gap:$grid-gap;
        }
    }
}