$font-family: 'Roboto', sans-serif;
$bg-white: #fff;
$bg-primary: #F8F9FF;
$text-primary: #7A8DFD;

$border-1: 1px solid #DDE2FF;

$button-gap: 5px;
$button-height: 36px;
$header-height: 72px;

$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
);

$padding-breakpoints: (
  576px: 20px,
  768px: 40px,
  992px: 60px,
  1200px: 100px,
);

